* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f2f5f9;

    font-family: "Lato", sans-serif;

    font-weight: 400;
    font-size: 16px;
}

/* line clamp */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

/* card */

.card {
    width: 418px;

    border-radius: 10px;

    background-color: #fff;
}

/* card header */

.card__header {
    display: block;

    position: relative;

    height: 283px;
}

/* overlay */
.overlay {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
}

.card__img {
    width: 100%;
    height: 100%;

    border-radius: 10px 10px 0 0;

    object-fit: cover;
}

/* card body */

.card__heading {
    font-family: "Poppins", sans-serif;

    padding: 0 36px 0;

    font-size: 24px;
    font-weight: 600;

    color: #111729;
}

.card__desc {
    padding: 18px 36px;

    line-height: 22px;
    font-weight: 400;

    color: #677489;

    border-bottom: 1px solid #f2f5f9;
}

/* card footer */

.card__footer {
    display: flex;
    align-items: center;

    gap: 16px;

    padding: 25px 36px;
}

.avatar {
    display: flex;
    flex-shrink: 0;

    width: 42px;
    height: 42px;
}

.avatar img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 4px solid #f8f9fb;

    object-fit: cover;
}

.avatar__name {
    font-weight: 600;

    color: #111729;
}

.avatar__position {
    font-family: "Poppins", sans-serif;

    color: #677489;

    font-size: 12px;
}
